@inject NavigationManager NavigationManager

<p>
    <label>
        @Localizer["Select_your_locale"]
        <select @bind="Culture">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</p>