@page "/config"

<h3>Config</h3>

@if (positionOptions != null)
{
    <div>
        <div>@Localizer["Title"] @positionOptions.Title</div>
        <div>@Localizer["Name"] @positionOptions.Name</div>
    </div>
}