@page "/inventory"
@using Minecraft.Crafting.Website.Components
@using Minecraft.Crafting.Website.Models


<h3>@Localizer["Title"]</h3>

<div class="rk">
    <div class="ck">   <Inventory Items="Items" /> </div>
    <div class="ck"> <InventoryList /> </div>
</div>