<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <div>My inventory:</div>
                <div>
                    <div class="css-grid">
                        @for (int j = 0; j < 3*9; j++)
                        {
                            <InventoryItem Index="j"/>
                        }
                    </div>
                    <br/><br/><br/>
                    <div class="css-grid">
                        @for (int j = 0; j < 9; j++)
                        {
                            <InventoryItem Index="j+3*9" />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</CascadingValue>
