<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <div>@Localizer["Available_items"]</div>
                <div>
                    <div class="css-grid">
                        @for (int j = 0; j < 3*9; j++)
                        {
                            <InventoryItem CommonParent="this.Parent" InventorySide="true" Index="j" ByPassRegister="null" />
                        }
                    </div>
                    <br/><br/><br/>
                    <div class="css-grid">
                        @for (int j = 0; j < 9; j++)
                        {
                            <InventoryItem CommonParent="this.Parent" InventorySide="true" Index="j+3*9"  ByPassRegister="null" />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</CascadingValue>
